<header>
  <nav class="flex h-full px-8 py-4 align-middle bg-navbar md:px-8 lg:px-16 xl:px-32 2xl:px-60">
    <include src="./views/components/logo.html"></include>

    <a class="flex p-2 ml-auto items-center max-md:border-2 max-md:border-links ">
      <i class="fa-solid fa-bars fa-2xl text-links hover:text-link_hover hover:cursor-pointer md:hidden"></i>
    </a>

    <div class="flex w-full place-content-end max-md:hidden">
      <div class="flex items-center">
        <a class="p-2 text-links hover:text-link_hover" href="/src/members.html">Our Band</a>
        <a class="p-2 text-links" href="/src/about.html">About</a>
        <a class="p-2 text-links" href="">Media</a>
      </div>
    </div>
  </nav>
</header>